<?xml version="1.0" encoding="utf-8"?>
<root>
	<dir>
		<origin></origin>
		<output></output>
		<code></code>
	</dir>
	<client_code>1</client_code>
	<server_code></server_code>
	<class_path></class_path>
	<client_formats></client_formats>
	<server_formats></server_formats>
	<origin_format>4</origin_format>
</root>