<root>
  <dir>
    <origin>C:\Users\Administrator\Desktop\sheet</origin>
    <output>C:\Users\Administrator\Desktop\output</output>
    <code>C:\Users\Administrator\Desktop\code</code>
  </dir>
  <class_path/>
  <client_formats>2</client_formats>
  <server_formats/>
  <origin_format>4</origin_format>
</root>